.DS_Store

.env
.env.*
**/.env
**/.env.*

node_modules
**/node_modules

dist
**/dist
build
coverage

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars
.terraform.lock.hcl

# Logs
*.log
logs/
*.log.*

# PID files
*.pid

# DevOps runtime files
ngrok.log
ngrok.pid
minikube-tunnel.log
minikube-tunnel.pid

# Kubernetes local files
*.kubeconfig

# Jenkins local config
.jenkins/

# Editor
.vscode/
.idea/

# Misc
*.swp
*.tmp
*.bak